/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Mobile-first Layout */
* {
  width: 98%;
}

#app {
  margin-left: 2%;
}

#title {
  margin-top: 0;
  font: 2em Times;
}

.social-icon, #subtitle, .img-box, .book-image, .book-description {
  display: none;
}

.instructions {
  margin: 0;
}

button {
  margin-top: .25em;
  display: block;
}

#selected-category {
  font: 1em Arial;
  font-weight: bold;
}

/*#selected-category:hover {
  text-decoration: underline;
}*/

#books {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.book {
  list-style-type: none;
  display: flex;
  margin-bottom: 1em;
}

.book:last-child {
  margin-bottom: 0;
}

.book-rank {
  flex: 1;
  font-size: 1.75em;
  font-weight: bold;
  color: #999;
  margin: 0;
  padding: 0;
}

.book-content {
  flex: 9;
  display: flex;
  flex-direction: column;
}

.book-author {
  font: 1em Arial;
}

.book-title {
  font: 1em Arial;
  font-weight: bold;
}


@media (min-width: 428px) {
  #title {
    margin: 0;
    font: 2.25em Times;
  }

  #subtitle {
    display: block;
    color: #666;
    margin: 0 0 1.5em 0;
  }

  button {
    width: 75%;
  }
}


@media (min-width: 603px) {
  #buttons {
    display: flex;
    justify-content: space-around;
  }
}


@media (min-width: 678px) {
  #title {
    display: inline-block;
    width: 85%;
  }

  .social-icon {
    display: inline-block;
    width: 2em;
  }

  .social-icon:hover {
    height: 2.1em;
    width: 2.1em;
  }

  #facebook-icon {
    margin-left: 1em;
  }
}


@media (min-width: 765px) {
  #title {
    font: 2.75em Times;
  }

  #subtitle {
    font: 1.25em Times;
  }

  #books {
    flex-direction: row;
  }

  .book {
    flex: 1;
    display: inline-block;
    border-right: 1px solid #e2e2e2;
    padding: 0 .5em;
  }

  .book:first-child {
    padding-left: 0;
  }

  .book:last-child {
    padding-right: 0;
    border-right: none;
  }

  .book-rank {
    display: inline-block;
    width: 1em;
    position: absolute;
    margin-left: -.25em;
  }

  .img-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }

  .book-image {
    display: inline-block;
    height: 110px;
    width: 71px;
    max-width: 82px;
  }

  .book-title {
    margin-bottom: 2%;
  }
}


@media (min-width: 850px) {
  body {
    width: 100%;
    display: flex;
  }

  #app {
    margin: auto;
    border: 1px solid black;
    padding: 0 4%;
  }

  /* Leverage Viewport Units for infinite scalability
     for any size desktop monitor */

  /* Generic RD settings for datepicker */
  * {
    /*font-size: 1.5vw;*/
  }

  #title {
    font-size: 5.5vw;
  }

  .social-icon {
    width: 4vw;
  }

  .social-icon:hover {
    height: 4.2vw;
    width: 4.2vw;
  }

  #subtitle, .instructions {
    font-size: 2vw;
  }

  select {
    height: 2.1vw;
    font-size: 1.5vw;
  }

  #datepicker {
    font-size: 1.5vw;
  }

  #buttons {
    height: 2.75vw;
  }

  button {
    font-size: 1.5vw;
  }

  #selected-category {
    font-size: 1.8vw;
    margin-top: 4%;
  }

  .book-rank {

  }

  /*.img-box {
    margin?
  }*/

  .book-image {

  }

  .book-title {

  }

  .book-author {

  }

  .book-description {
    /*display: block;*/
  }
}


/* For Desktop Monitors */
/*@media (min-width: 1009px) {
  #app {
    width: 76%;
    margin: 4% 12% 0 12%;
  }
}*/




/*  #header {
    display: flex;
  }

  #title {
    flex: 3;
    flex-shrink: 1;
    font: 55px Times;
    margin: 0;
  }

  .social-icon {
    flex: 1;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    margin: 0px 0px;
  }

  .social-icon:hover {
    height: 42px;
    width: 42px;
  }

  #twitter-icon {
    position: relative;
    top: 2px;
    height: 37px;
    width: 37px;
  }

  #twitter-icon:hover {
    height: 39px;
    width: 39px;
  }

  p {
    font-size: 17px;
    color: #666;
    padding: 0;
    margin: 0 0 20px 0;
  }

  #selections-container {
    border-top: 1px solid #ccc;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    margin-top: 0px;
  }

  button {
    margin-top: 10px;
  }

  #selected-category {
    font: 20px Arial;
    font-weight: bold;
  }*/
