#app {
  width: 76%;
  margin: 4% 12% 0 12%;
  padding: 0;
  border: 1px solid black;
  /*border-top: 2px solid black;*/
}

#header {
  display: flex;
  height: 60px;
}

#title {
  flex-grow: 8;
  font: 55px Times;
  padding: 0 25% 0 0;
  margin: 0;
}

.social {
  flex-grow: 1;
  height: 40px;
  width: 40px;
  margin: 15px 0;
}

.social:hover {
  height: 42px;
  width: 42px;
}

#facebook {
}

#twitter {
}

p {
  color: #666;
  padding: 0;
  margin: 0;
}

button {
  margin-top: 15px;
}


h2 {
  font: inherit Arial;
  font-weight: bold;
}

/*#usernameContainer {
  position: absolute;
  left: 85%;
  top: 1%;
}*/

/*#book p {
  width: 20%;
  margin: 20px 40% 0 40%;
  border: 1px solid black;
  text-align: left;
  font-weight: bold;
}*/