body {
  text-align: center;
  font: 18px "Times New Roman";
}

button {
  margin-top: 15px;
}

#resultsContainer {
  width: 80%;
  margin: 20px 10% 0 10%;
  border-top: 2px solid black;
  text-align: center;
}

#title {
  /*display:inline-block;*/
}

#usernameContainer {
  position: absolute;
  left: 85%;
  top: 1%;
}

/*#book p {
  width: 20%;
  margin: 20px 40% 0 40%;
  border: 1px solid black;
  text-align: left;
  font-weight: bold;
}*/